html, body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Halant', serif;
  font-size: 14px;
  font-weight: 100;
  text-align: center;
}
@media screen and (max-width: 1024px){
  #body1{
    width: 100%;
  }
  #section{
    width: 100%;
  }
}
@media screen and (max-width: 640px){
  #section{
    width: 100%;
  }
}
@media (max-width: 320px){
  #body1{
    background-image: 100%;
  }
  #body2{ 
    background-image: 100%
  }
  body{
    width: 100%;
  }
  #section{
    width: 100%;
  }
}
#body1{
  background-image: url("http://cdn.superbwallpapers.com/wallpapers/abstract/blurry-pattern-15690-1920x1200.jpg");
  opacity: .8;
}
#body2{
  background-image: url("https://unsplash.imgix.net/1/work-stations-plus-espresso.jpg?q=75&fm=jpg&auto=format&s=483a862ea004b5dd7d8774153ec437b9");
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: fixed no-repeat;
  background-position: center center fixed;
  opacity: 0.8;
  }
#carousel-example-generic{
  width: 40%;
  height: inherit;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  }
@import url(http://fonts.googleapis.com/css?family=Halant);
html {
  height:100%;
}
nav {
  max-width: 960px;
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
  margin: 0 auto;
  padding: 20px 0;
}
nav ul {
  text-align: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  padding: 18px;
  font-family: 'Halant', serif;
  text-transform:uppercase;
  color: white;
  font-size: 18px;
  text-decoration: none;
  display: block;
}
nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: black;
}
#section{
  height: inherit;
  color: white;
  text-align: center;
  margin: 0 auto;
  font-size: 25px;
  width: 50%;
}
h2 {
  color: white;
  font-size: 50px;
  margin-top:  10px;
}
.image-container {
  display:inline-block;
  margin: 10px 10px 10px 10px;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  background: #fff;
  cursor: pointer;
}
.image {
  width: 200px;
  height: 200px;
  z-index: 1;
  transition: all .5s;
}
.image img {
  max-width: 100%;
}
.caption {
  width: 200px;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgba(0,0,0,.8);
  z-index: 2;
  font-weight: 300;
  transition: all .5s;
}
.caption-num1 {
  position: relative;
  height: 60px;
  padding: none;
  transform: rotate(45deg) translateY(-280px) translateX(-50%);
}
.bottom {
  position: absolute;
  bottom: 15px;
  left: 0px;
  right: 0;
  color: white;
}
.image-container-num1:hover .caption-num1 {
  transform: rotate(45deg) translateY(-200px) translateX(-50%)
}
.caption-num2 {
  transform: translateY(140px);
  color: white;
}
.image-container-num2:hover .image-num2 {
  opacity: .8;
  transform: translateY(-50%) translateY(0px);
}
.image-container-num2:hover .caption-num2 {
  transform: translateY(-37px);
}
.image-num3 img {
  max-width: none;
  max-height: 100%;
}
.image-num3 {
  direction: rtl;
}
.caption-num3 {
  color: white;
  opacity: 0;
  width: 300px;
  text-align:right;
  padding-right: 14px;
  transform: translateY(-100%);
}
.image-container-num3:hover .image-num3 {
  transform: translateX(50%);
}
.image-container-num3:hover .caption-num3 {
  opacity: 1;
  transform: translateY(-100%) translateX(-114px);
}
.image-container-num4:hover .image-num4 {
  transform: scale(1.5) rotate(-10deg);
}
.image-container-num4:hover .caption-num4 {
  transform: translateY(-100%);
  color: white;
}
.image-num5 img {
  max-width: none;
  transform: translateY(-50px) translateX(-50px);
}
.caption-num5 {
  transform: translateY(-100%);
  opacity: 0;
  color: white;
}
.image-container-num5:hover .image-num5 {
  transform: rotate(45deg);
}
.image-container-num5:hover .caption-num5 {
  opacity: 1;
}
.caption-num6 {
  transform: translateY(-200px) translateY(-100%);
  color: white;
}
.image-container-num6:hover .caption-num6 {
  transform: translateY(-200px);
}
.caption-num7 {
  height: 200px;
  background: none;
  color: #333;
  font-size: 20px;
  opacity: 0;
}
.image-container-num7:hover .caption-num7 {
  opacity: 1;
  transform: translateY(-75%);
}
.image-container-num7:hover .image-num7 {
  transform: scale(1.5);
  opacity: .15;
}
.break {
  display: none;
}
@media all and (max-width: 650px) {
  .image-container {
    margin: 30px;
    outline: solid 20px #eee;
  }
  .break {
    display: initial;
  }
}
.btn, .btn:hover {
  background-color: #143054;
}


